{% extends 'core/base/base.html' %}
{% block tt %}
    Contact Us
{% endblock tt %}
{% block contant %}
{% endblock contant %}
{% block slide_img %}

{% endblock slide_img %} 
<br><br><b><b><br></b></b>
{% block info_form %}
<br><br><b><b><br></b></b>
   <form action="" method="get">
<div>
    <label for="{{ form.name.id_for_label }}"></label>
        {% for field in form %}
        {{ field.label_tag }}
        {{field}}
        {% endfor %}
   </form>
<br><br><b><b><br></b></b>   
{% endblock info_form %}



