body{
    background-color: rgb(62, 187, 224);
    color: cornsilk;
}
/* thanks massage css for contact us form */
.tk_card{
    width: 40vw;
    height: 40vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

