{% extends 'core/base/base.html' %}
{% load static %}
{% block tt %}
    About Us
{% endblock tt %}
{% block contant %}
    <section>
        <div class="container">
            <div class="about mb-4">
                <div class="row text-center m-4">
                    <div class="col-md-12 text-center">
                        <h6>Know Us More</h6>
                        <h1 class="mb-4">About Us</h1>
                        <span class="title-border"></span>
                        <p>BLUE RIVER ensures the highest standards of purity, safety &amp; quality enjoy its refreshing &amp; pleasant taste through our the day ensure your family vitality</p>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-lg-4 my-2 py-3">
                        <i class="fas fa-map-pin fa-3x mb-3"></i>
                        <h5 class="p-3 font-weight-bold">Address</h5>
                        <p>BUILDING NO #33C,SUNSET LANE 4 DHA PHASE II, KARACHI</p>
                    </div>
                        <div class="col-lg-4 my-2 py-3">
                            <i class="fas fa-phone-alt fa-3x mb-3"></i>
                            <h5 class="p-3 font-weight-bold">Contact</h5>
                            <p>0305-8056696</p>
                            <p>0300-1360606</p>
                        </div>
                        <div class="col-lg-4 my-2 py-3">
                            <i class="fas fa-at fa-3x mb-3"></i>
                            <h5 class="p-3 font-weight-bold">Email</h5>
                            <p><i class="fas fa-paper-plane"></i> bluer0447@gmail.com</p>
                            <p><i class="fab fa-facebook-f"></i>&nbsp; blueriver</p>
                        </div>                        
                    </div>                    
                </div>
            </div>
        </div>
    </section>
{% endblock contant %}

