<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank you</title>
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<div class="card text-white bg-dark mb-3 tk_card" style="max-width: 70rem;">
    <div class="card-header text-center">Blue River</div>
    <div class="card-body">
        <h5 class="card-title text-center">Thank you For Your Registration</h5>
        <p class="card-text text-center">
        {% if messages %}
            {% for message in messages %}
                <small {% if message.tags %} class="{{message.tags}}" {% endif %}> <h1><strong class='text-center'>{{message}}</strong></h1> </small>
            {% endfor %}
        {% endif %}</p>
        
        
    </div>
</div>

    
</body>
</html>
