<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank you</title>
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% comment %} <style>
        body{
            background-image:url({% static '.' %});
            background-repeat:no-repeat;
        }
    </style> {% endcomment %}
</head>
<body>

<div class="card text-white bg-dark mb-3 tk_card" style="max-width: 70rem;">
    <div class="card-header">Blue River</div>
    <div class="card-body">
      <h5 class="card-title">Thank you For Your Response</h5>
      <p class="card-text">We Will call You Back Right after 15 Minuts.</p>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 mb-3">
                    <h1>Your Response has been <strong>Successfully</strong> Submited</h1>            
                </div>
            </div>
        </div>
    </div>
</div>

    
</body>
</html>
