{% extends 'core/base/base.html' %}
{% load static %}
{% block tt %}Sign Up{% endblock tt %}
{% block contant %}
<form action="" method="POST" novalidate>
{% csrf_token %}
{% for fm in form %}
    {{fm.label_tag}} {{fm}} {{fm.errors|striptags}} <br><br>
{% endfor %}  
<input type="submit" value="Submit"> 
</form>
{% if messages %}
    {% for message in messages %}
        <small {% if message.tags %} class="{{message.tags}} {% endif %}">{{message}}</small>
    {% endfor %}  
{% endif %}

{% endblock contant %}